<div class="drag-drop-container" cdkDropListGroup>

  <div class="pending">

    <h3>Lessons To Watch:</h3>

    <div cdkDropList class="lessons-list" (cdkDropListDropped)="dropMultlist($event)" [cdkDropListData]="lessons">

      <div class="lesson" *ngFor="let lesson of lessons" cdkDrag>

        {{lesson.description}}

      </div>

    </div>

  </div>

  <div class="done">

    <h3>Done:</h3>

    <div cdkDropList class="lessons-list" (cdkDropListDropped)="dropMultlist($event)" [cdkDropListData]="done">

      <div class="lesson" *ngFor="let lesson of done" cdkDrag>

        {{lesson.description}}

      </div>

    </div>

  </div>

</div>